<p style="color: green"><%= notice %></p>

<h1>Vessels</h1>

<div id="vessels">
  <% @vessels.each do |vessel| %>
    <%= render vessel %>
    <p>
      <%= link_to "Show this vessel", vessel %>
    </p>
  <% end %>
</div>

<%= link_to "New vessel", new_vessel_path %>
