<h1>Editing voyage history</h1>

<%= render "form", voyage_history: @voyage_history %>

<br>

<div>
  <%= link_to "Show this voyage history", @voyage_history %> |
  <%= link_to "Back to voyage histories", voyage_histories_path %>
</div>
